<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>{% block title %}自定义标题{% endblock title %}</title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<div class="row bg-primary">
    <div class="col-sm-8 col-xs-10"><h1><a href="{{ path('homepage') }}" style="text-decoration: none;color: white;">SharEDITor</a></h1></div>
    <div class="col-sm-3 col-xs-1">
        <form action="{{ path('blog_search') }}" style="margin-top: 10px;">
            <input type="search" name="q" placeholder="搜文章" maxlength="200" style="background-color: transparent;">
        </form>
    </div>
</div>
{% block body %}
{% endblock body %}
<div class="row navbar navbar-inverse" style="margin-bottom: 0;">
    <div class="row">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-4 col-xs-4">
            <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 30px;">
                最新文章</h4>
            {% for article in latestblogs %}

                <div class="row" style="margin: 10px;margin-left: 0; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                    <a style="color: #959595;"
                       href="{{ path('blog_show', {'blogId':article.id}) }}">{{ article.title }}</a>
                </div>

            {% endfor %}
            <br/>
        </div>
        <div class="col-sm-1 col-xs-1"></div>

        <div class="col-sm-4 col-xs-4">
            <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 30px;">
                为你推荐</h4>
            {% for article in recommends %}

                <div class="row" style="margin: 10px;margin-left: 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                    <a style="color: #959595;"
                       href="{{ path('blog_show', {'blogId':article.id}) }}">{{ article.title }}</a>
                </div>

            {% endfor %}
            <br/>
        </div>

        <div class="col-sm-2 col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 text-center" style="color: #959595;margin-bottom: 10px;">
            Copyright © <a href="{{ path('homepage') }}">MyWebSite.com</a> | 京ICP备*****号
        </div>
    </div>
</div>
<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>